<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Home</title>
</head>

<body>
    <header role="banner">
        <!--Logo-->
        <div>
            <img src="/images/logo-mercado-liebre.svg" />
        </div>
        <!--Texto-->
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <!--Barra de busqueda-->
        <form role="search" method="GET">
            <input type="text" placeholder="Busca tus productos aqui"/>
            <button type="submit">BUSCAR</button>
        </form>
        <!--Barra de navegacion-->
        <nav class="site-navbar">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav class="login-navbar">
            <ul>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h2 class="titulares">Sección: Basado en tu última visita</h2>
            <article >
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200px">
                <ul>
                    <li class="precios">6.770 puntos</li>
                    <li class="descuentos">40% OFF</li>
                    <li class="descripciones">Cafetera Moulinex</li>
                </ul>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200px">
                <ul>
                    <li class="precios">230.000 puntos</li>
                    <li class="descuentos">20% off</li>
                    <li class="descripciones">MacBook Pro 2019</li>
                </ul>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="200px">
                <ul>
                    <li class="precios">70.500 puntos</li>
                    <li class="descuentos">10% off</li>
                    <li class="descripciones">Samsung Galaxy S10</li>
                </ul>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43''" width="200px">
                <ul>
                    <li class="precios">23.200 puntos</li>
                    <li class="descuentos">5% off</li>
                    <li class="descripciones">SmartTv Samsung 43"</li>
                </ul>
            </article>
        </section>


        <section>
            <h2 class="titulares">OFERTAS!</h2>
            <article >
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200px">
                <ul>
                    <li class="precios">6.770 puntos</li>
                    <li class="descuentos">40% OFF</li>
                    <li class="descripciones">Cafetera Moulinex</li>
                </ul>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200px">
                <ul>
                    <li class="precios">230.000 puntos</li>
                    <li class="descuentos">20% off</li>
                    <li class="descripciones">MacBook Pro 2019</li>
                </ul>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="200px">
                <ul>
                    <li class="precios">70.500 puntos</li>
                    <li class="descuentos">10% off</li>
                    <li class="descripciones">Samsung Galaxy S10</li>
                </ul>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43''" width="200px">
                <ul>
                    <li class="precios">23.200 puntos</li>
                    <li class="descuentos">5% off</li>
                    <li class="descripciones">SmartTv Samsung 43"</li>
                </ul>
            </article>
        </section>

    </main>
        <footer>
            <div class="footer__content">
                <section>
                    <i class="fa fa-money-bill"></i>
                    <b class="footer__content-title">Pagá con tarjeta o efectivo</b>
                    <p>Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section>
                    <i class="fa fa-truck"></i>
                    <b class="footer__content-title">Envío gratis desde 2.500 puntos</b>
                    <p>Solo por estar registrad@ en nuestra tienda tienes envíos gratis en miles de productos.</p>
                </section>
                <section>
                    <i class="fas fa-shield-alt"></i>
                    <b class="footer__content-title" >Seguridad, de principio a fin</b>
                    <p>¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>
            </div>
       
    </footer>
</body>

</html>