<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header role="banner">
        <!--Logo-->
        <div>
            <img src="/images/logo-mercado-liebre.svg" />
        </div>
        <!--Texto-->
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <!--Barra de busqueda-->
        <form role="search" method="GET">
            <input type="text" placeholder="Busca tus productos aqui"/>
            <button type="submit">BUSCAR</button>
        </form>
        <!--Barra de navegacion-->
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>

    <main>Marcelo(ofertas) - Ignacio(el de arriba)</main>
    <footer>Santiago</footer>
</body>
</html>