<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>Nicolas</header>
    <main>Marcelo(ofertas) - Ignacio(el de arriba)</main>
    
    <footer>
        <section>
            <b>Pagá con tarjeta o efectivo</b>
            <p>Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <b>Envío gratis desde 2.500 puntos</b>
            <p>Solo por estar registrad@ en nuestra tienda tienes envíos gratis en miles de productos.</p>
        </section>
        <section>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </footer>
</body>
</html>