<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>

    <header role="banner" class="cabecera">
        <!--Logo-->
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" />
            <!--Barra de busqueda-->
            <form role="search" method="GET" class="form-search-bar">
                <input type="text" placeholder="Busca tus productos aqui" />
                <i class="fas fa-search"></i>
            </form>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>`

            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta<i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main class="login_form">

        <form action="/" class="register">

            <label for="userName">Usuario</label>
            <input id="userName" required type="text" placeholder="Nombre de usuario">
            <label for="pass" >Password</label>
            <input id="pass" required maxlength="12" minlength="4" type="password" placeholder="Ingrese su password">
            
            <button type="submit">Login</button>    

        </form>
    </main>




    <footer class="piePagina">
        <div class="footer__content">
            <section>
                <i class="fa fa-money-bill"></i>
                <b class="footer__content-title">Pagá con tarjeta o efectivo</b>
                <p>Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </section>
            <section>
                <i class="fa fa-truck"></i>
                <b class="footer__content-title">Envío gratis desde 2.500 puntos</b>
                <p>Solo por estar registrad@ en nuestra tienda tienes envíos gratis en miles de productos.</p>
            </section>
            <section>
                <i class="fas fa-shield-alt"></i>
                <b class="footer__content-title">Seguridad, de principio a fin</b>
                <p>¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </section>
        </div>
    </footer>






</body>

</html>