main{
    text-align: center;
    width: 90vw;
    margin: auto;
}

main article{
    margin: 10px 0px;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}


ul{
    list-style: none;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.titulares{
    font-size: 24px;
    width: 100%;
}

.precios{
    font-size: 18px;
}

.descuentos, .descripciones{
    font-size: 16px;
}

.descripciones{
    display: none;
}

.site-navbar, .login-navbar{
    display: none;
}

.login_form{
    border: 1px solid black;
    width: 350px;
    height: 200px;
}
/* Navegación en tablets (ancho mínimo 361 px)
Navegación en desktop (ancho mínimo 769 px)
 */

@media screen and (min-width: 361px){
    .descripciones{
        display: block;
    }
    main article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }
    .site-navbar, .login-navbar{
        display: block;
    }
    .burger-menu{
        display: none;
    }



}

@media screen and (min-width: 769px){
   

}